body {
  background: #1c1c1c;
  color: #00ff99;
}
.dark {
  background: #1c1c1c !important;
}
.green {
  color: #00ff99 !important;
}
.pink {
  color: #ff007f !important;
}
.card {
  background-color: #00ff99;
  margin-bottom: 2rem;
  border: 5px solid #00ff99;
}
.spink {
  background-color: #ff007f;
}
h1 {
  font-family: "Courier New", Courier, monospace;
}
